section.vote-dialog
    div.vote-dialog__box
        a.vote-dialog__close(href="#")
        h2 請輸入以下資訊，以完成投票並參與抽獎
        .vote-forms
            form.pure-form.pure-form-stacked(action='vote-done.html')
                fieldset
                    ul
                        li
                            label(for='userName') 你的暱稱 (必填)
                            input#userName.pure-input-1(type='text', placeholder='請輸入你的暱稱')
                            span.pure-form-message.pure-form-message--error 這是必填欄位
                        li
                            label(for='phone') 手機號碼 (必填)
                            input#phone.pure-input-1(type='text', placeholder='請輸入手機號碼')
                            span.pure-form-message.pure-form-message--error 這是必填欄位
        div.vote-dialog__ctrls
            a.vote-btn.pure-button.pure-button-primary(href='forms.html', title='同意') 確認投票