doctype
html(itemscope,itemtype="http://schema.org/Article",ng-app="markup" debug="false")
    //page default Information
    block pageInfo
        - var pageTitle = "首頁"
        - var pageDesc = "敘述"
    //html head
    include _head.jade
    //html body
    body
        div.l-container
            ddafdf
            block page_main
    script(src="js/app.js")

    script(type='text/javascript').         
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=262477160615577";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
