//page laytout name
extends _layout.jade

//page html
block page_main
    script(src="/js/iframeResizer.min.js")

    iframe(id="viewport",src="https://vuejs.org",frameborder="0" scrolling="no",onload="")

    script.
