.sprite__demo {
  display: block;
  background-image: url(../images/sprite.png?v=0.6692129569128156);
  background-position: 0px 0px;
  width:500px;
  height: 500px;
/*source-image:/Users/lauraluo/mygit/etic/votegame/src/images/sprites/sprite__demo.png*/
}
@mixin sprite__demo() {
  display: block;
  background-image: url(../images/sprite.png?v=0.6692129569128156);
  background-position: 0px 0px;
  width:500px;
  height: 500px;
/*source-image:/Users/lauraluo/mygit/etic/votegame/src/images/sprites/sprite__demo.png*/
}
