@charset 'UTF-8';

/* ----- IMPORT -----*/

//1.utils
@import "utils/_bemify.scss"; //A set of Sass mixins to write well-structured, maintainable, idiomatic BEM-style .scss source:
@import "utils/_variables.scss";
@import "utils/_mixins.scss";
@import "utils/_grid.scss";
//sprite scss import 至少要啟用gulp一次
//@import "_sprite.scss";
//2.vendors
//3.base
@import "base/_reset.scss";
@import "base/_typography.scss";
//4.layout
@import "layout/_layout.scss";
@import "layout/_nav.scss";
//5.components
@import "components/_load.scss"; //html 在 load.js 裡
//6.pages
//7.themes
$tran:0.3s ease-in all;
$boxShadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.vote {
    &__cover {
        background: url(../images/vote_cover.jpg) no-repeat;
        width: 1260px;
        height: 633px;
        position: relative;
    }
    &__share {
        background-size: 100% 100%;
        // background-color: red;
        width: 80px;
        height: 80px;
        display: block;
        position: absolute;
        right: 11px;
        top: 431px;
    }
    @include respond-to(small-up) {
        //small 以上 不包含small
    }
    @include respond-to(small) {
        &__cover {
            background: url(../images/vote_cover-m.jpg);
            width: 640px;
            height: 900px;
        }
        &__share {
            background: url(../images/fb.png) no-repeat;
        }
    }
}
